html {
  background-color: white;
}
body.login div#login h1 {
  width: 100%;
}
body.login div#login h1 a {
  background: url(../images/login/logo.svg) no-repeat center center / auto 100% transparent;
  height: 125px;
  margin: 0 auto 50px;
  outline: none;
  width: 100%;
}
