/* Main Style */
/* <!---------- Retina Display ----------> */
.pagination {
  clear: both;
  margin: 10px 0 0;
  display: inline-block;
  width: 100%;
  text-align: left; }
  .pagination a {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    border: 1px solid #676767;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    color: #676767;
    background: #fff;
    text-decoration: none; }
    .pagination a:hover {
      background: #676767;
      color: #fff; }
  .pagination span {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    border: 1px solid #676767;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    color: #676767;
    background: #fff;
    text-decoration: none; }
  .pagination span.current {
    background: #676767;
    color: #fff; }

.pagination.align-center {
  text-align: center; }

.pagination.align-right {
  text-align: right; }

ul.page-nav {
  list-style: none !important;
  display: inline-block;
  vertical-align: top; }
  ul.page-nav li {
    display: inline-block;
    float: left;
    margin: 0 3px 0 0; }
    ul.page-nav li:last-child {
      margin-right: 0; }

.pagination.style-circle a {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center; }
.pagination.style-circle span {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center; }
.pagination.style-circle a.next {
  width: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-circle a.next:hover {
    color: #000; }
.pagination.style-circle a.prev {
  width: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-circle a.prev:hover {
    color: #000; }
.pagination.style-circle a.first-page-link {
  width: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-circle a.first-page-link:hover {
    color: #000; }
.pagination.style-circle a.last-page-link {
  width: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-circle a.last-page-link:hover {
    color: #000; }

.pagination.style-square a {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  text-align: center; }
.pagination.style-square span {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  text-align: center; }
.pagination.style-square a.next {
  width: auto;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-square a.next:hover {
    color: #000; }
.pagination.style-square a.prev {
  width: auto;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-square a.prev:hover {
    color: #000; }
.pagination.style-square a.first-page-link {
  width: auto;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-square a.first-page-link:hover {
    color: #000; }
.pagination.style-square a.last-page-link {
  width: auto;
  border: none;
  padding: 0 8px;
  background: none;
  color: #676767; }
  .pagination.style-square a.last-page-link:hover {
    color: #000; }

.pagination.style-diamond-square ul.page-nav li {
  margin: 7px; }
.pagination.style-diamond-square ul > li > a {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }
  .pagination.style-diamond-square ul > li > a:hover span {
    color: #fff; }
.pagination.style-diamond-square ul > li > span {
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }
  .pagination.style-diamond-square ul > li > span:hover span {
    color: #fff; }
.pagination.style-diamond-square ul > li > span.dots {
  position: relative;
  border: none;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none; }
  .pagination.style-diamond-square ul > li > span.dots:before {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border: 1px solid #676767;
    content: "";
    -webkit-transform: rotate(-45deg);
    transform: rotate(45deg); }
.pagination.style-diamond-square a > span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border: none;
  background: none; }
.pagination.style-diamond-square span > span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border: none;
  background: none; }
.pagination.style-diamond-square span.current > span {
  color: #fff; }
.pagination.style-diamond-square a.next {
  width: auto;
  border: none;
  padding: 0 3px;
  background: none;
  color: #676767;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }
  .pagination.style-diamond-square a.next:hover {
    color: #000; }
.pagination.style-diamond-square a.prev {
  width: auto;
  border: none;
  padding: 0 3px;
  background: none;
  color: #676767;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }
  .pagination.style-diamond-square a.prev:hover {
    color: #000; }
.pagination.style-diamond-square a.first-page-link {
  width: auto;
  border: none;
  padding: 0 3px;
  background: none;
  color: #676767;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }
  .pagination.style-diamond-square a.first-page-link:hover {
    color: #000; }
.pagination.style-diamond-square a.last-page-link {
  width: auto;
  border: none;
  padding: 0 3px;
  background: none;
  color: #676767;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }
  .pagination.style-diamond-square a.last-page-link:hover {
    color: #000; }

@media screen and (max-width: 767px) and (min-width: 480px) {
  .pagination.style-diamond-square ul > li > a {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-diamond-square ul > li > span {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-diamond-square a > span {
    margin-top: -1px; }
  .pagination.style-diamond-square span > span {
    margin-top: -1px; } }
@media screen and (max-width: 479px) {
  ul.page-nav li {
    margin: 0 2px 0 0; }

  .pagination a {
    padding: 4px 6px 5px; }
  .pagination span {
    padding: 4px 6px 5px; }
  .pagination a.prev {
    display: none; }
  .pagination a.next {
    display: none; }

  .pagination.style-circle a {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-circle span {
    width: 24px;
    height: 24px;
    line-height: 22px; }

  .pagination.style-square a {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-square span {
    width: 24px;
    height: 24px;
    line-height: 22px; }

  .pagination.style-diamond-square ul.page-nav li {
    margin: 5px; }
  .pagination.style-diamond-square ul.page-nav li.first-page {
    display: none; }
  .pagination.style-diamond-square ul.page-nav li.last-page {
    display: none; }
  .pagination.style-diamond-square ul > li > a {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-diamond-square ul > li > span {
    width: 24px;
    height: 24px;
    line-height: 22px; }
  .pagination.style-diamond-square a.prev {
    display: inline-block; }
  .pagination.style-diamond-square a.next {
    display: inline-block; } }
/* <!---------- Desktops ----------> */
/* <!---- Portrait Orientation ----> */
/* <!---- Landscape Orientation ----> */
/* <!---------- Big Tablets ----------> */
/* <!---- Portrait Orientation ----> */
/* <!---- Landscape Orientation ----> */
/* <!---------- Mid Tablets ----------> */
/* <!---- Portrait Orientation ----> */
/* <!---- Landscape Orientation ----> */
/* <!---------- Phones ----------> */
/* <!---- Portrait Orientation ----> */
/* <!---- Landscape Orientation ----> */
/* <!---------- Small Phones ----------> */
/* <!---- Portrait Orientation ----> */
/* <!---- Landscape Orientation ----> */
